html, body {
    height: 100%;
    width: 100%;
    font-size: 24px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

body > *{
    border: 1px solid red;
}

.filter-letter {

}

.main-order {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.order-id, 
.order-detail {
    background-color: black;
    color: white;
    height: 100%;
}

.order-id {
    width: 30%;
}

.order-detail {
    width: 70%;
}